$page-margin: 0.5in;
$spacing: 0.2in;
$border-size: 1px;

@use "printed";
@use "colors";

body {
  margin: 0;
  background-color: colors.$background-color;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  margin: $spacing $page-margin;
  border: $border-size solid red;
  background-color: colors.$article-background-color;
  padding: $spacing;
  text-align: justify;
  text-align-last: start;
  text-justify: inter-word;
  hyphens: auto;
  color: colors.$article-text-color;

  --edge-to-edge-background-color: #{colors.$dark-article-background-color};
  --edge-to-edge-text-color: #{colors.$dark-article-text-color};

  &:not(.filled-top-of-page) {
    section {
      margin: $spacing 0;
      border: $border-size solid blue;
      padding: $spacing 0;

      section {
        margin: $spacing 0;
        border: $border-size solid orange;
        padding: $spacing 0;
      }
    }
  }
}

header.personal-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name address"
    "name location";

  h1 {
    grid-area: name;
  }

  address {
    grid-area: address;
    font-style: normal;
    text-align-last: right;
    align-self: center;
  }

  .location {
    grid-area: location;
    text-align-last: right;
    align-self: center;
    margin: 0;
  }
}

.location {
  font-style: italic;
}

article section section header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .location {
    margin-left: 1em;
  }

  .dates {
    flex-grow: 1;
    text-align-last: right;
  }
}
