$page-margin: 0.5in;
$spacing: 0.2in;
$border-size: 1px;

body {
  margin: 0;
  background-color: lightgray;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  position: relative;
  margin: $spacing $page-margin;
  border: $border-size solid red;
  background-color: gray;
  padding: $spacing;

  &:first-of-type {
    background-color: black;
    color: white;
  }

  &:not(:first-of-type) {
    section {
      margin: $spacing 0;
      border: $border-size solid blue;
      padding: $spacing 0;

      section {
        margin: $spacing 0;
        border: $border-size solid orange;
        padding: $spacing 0;
      }
    }
  }

  &.full-page-width-color::before {
    position: absolute;
    z-index: -1;
    top: -(calc($spacing + $border-size));
    bottom: -(calc($spacing + $border-size));
    left: -(calc($page-margin + $border-size));
    right: -(calc($page-margin + $border-size));
    background-color: black;
    content: "";
  }
}

time + time {
  &::before {
    content: " - ";
  }
}

@media print {
  @page {
    size: letter;
    margin: $page-margin 0;
  }
}
