$spacing: 0.2in;
$inner-spacing: 0.12in;
$border-size: 1px;

@use "printed";
@use "colors";
@use "font";

body {
  background-color: colors.$background-color;
  font-size: 11pt;
}

p, ul, li {
  margin: calc($inner-spacing / 2) 0;
}

ul {
  padding-inline-start: 1.5em;
}

article {
  background-color: colors.$article-background-color;

  text-align: justify;
  text-align-last: start;
  text-justify: inter-word;
  hyphens: auto;
  color: colors.$article-text-color;

  --edge-to-edge-background-color: #{colors.$dark-article-background-color};
  --edge-to-edge-text-color: #{colors.$dark-article-text-color};

  // Spacing and layout rules for nested sections and headers
  margin: $spacing 0;
  border: $border-size solid colors.$border-color;
  padding: 0 $spacing;

  &.filled-top-of-page {
    padding: calc($spacing + $inner-spacing) calc($spacing + $border-size);

    section {
      &:last-of-type, :last-child {
        margin-bottom: 0;
      }
    }
  }

  header {
    h1 {
      margin-block-start: $spacing;
      margin-block-end: $inner-spacing;
    }
  }

  section {
    margin-block-end: $spacing;

    header {
      @extend .no-page-break-after;

      h2 {
        margin-block-start: $inner-spacing;
        margin-block-end: $inner-spacing;
      }
    }

    section {
      @extend .no-page-break;

      margin-block-end: $spacing;

      header {
        margin: $inner-spacing 0;

        display: flex;
        flex-direction: row;
        align-items: baseline;

        // This h3 is in a flex row with other content so the margin which won't be collapsed.
        // Remove the margin and let it be handled by parent header.
        h3 {
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }
    }
  }
}

header.personal-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name address"
    "name location";

  h1 {
    grid-area: name;
    font-size: 2.5em;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  address {
    grid-area: address;
    font-style: normal;
    text-align-last: right;
    align-self: center;
  }

  .location {
    grid-area: location;
    text-align-last: right;
    align-self: center;
    margin: 0;
  }
}

.location {
  font-style: italic;
  margin-left: 1em;
}

.dates {
  flex-grow: 1;
  text-align-last: right;
}
