{{ define "head" }}
    {{ partial "paged.html" . }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?{{ .Site.Params.font | safeURL }}&display=swap" rel="stylesheet">
{{ end }}

{{ define "main" }}
    <article class="filled-top-of-page">
        {{ .Render "personal-details" }}
        <section>
            {{ .Content }}
        </section>
    </article>
    {{ range .Site.Sections }}
        {{ partial "top-section.html" . }}
    {{ end }}
{{ end }}
