{{ define "main" }}
    <article>
        <header>
            {{ .Render "personal-details" }}
        </header>
        {{ .Content }}
    </article>
    {{ range .Site.Sections }}
        <article>
            <h1>{{ .Title }}</h1>
            {{ range .Sections }}
                <section>
                    <header>
                        <h1>{{ .Title }}</h1>
                        {{ with .Params.location }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                    </header>
                    {{ range .RegularPages }}
                        <header>
                            <h1>{{ .Title }}</h1>
                            {{ with .Params.location }}
                                <h2>{{ . }}</h2>
                            {{ end }}
                        </header>
                    {{ end }}
                </section>
            {{ end }}
        </article>
    {{ end }}
{{ end }}
